*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*nav bar section code*/
nav{
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: fixed;
    width: 100%;
}
.logo{
    width: 150%;
    padding-left: 4rem;
}
.navlinks ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    width: 100%;
    margin-right: 5rem;
}
a{
    text-decoration: none;
    color: white;

}
/*home page header section code*/
.header-home{
    background: url(./app-link-background.svg)no-repeat center/cover;
    height: 100vh;
    color: white;
    text-align: center;
    align-content: center;

h1{
    font-size: 4.5rem;
    font-family: cursive;
    margin-bottom: 2rem;
}
#ios-store{
    height: 3.5rem;
}
.store-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
}
/*home page features section code*/
.features{
text-align: center;
height: 100vh;
align-content: center;
h1{
    font-size: 4.5rem;
    margin-bottom: 4rem;
}
.inner-features{
    display: flex;
    align-items: center;
    gap: 3rem;
    text-align: center;
    justify-content: center;
    padding: 0 2rem;
}
}
/*home page banner1 code*/
.banner1{
    background: url(./banner-1.webp)no-repeat center/cover;
    height: 100vh;
    text-align: center;
    align-content: center;
    padding: 0 2rem;
h1{
    font-size: 4.5rem;
    font-family: cursive;
    color: white;
}
}
.banner2{
    background: url(./banner-2.webp)no-repeat center/cover;
    height: 100vh;
    text-align: center;
    align-content: center;
    padding: 0 2rem;
h1{
    font-size: 5rem;
    font-family: cursive;
    color: white;
    margin-bottom:13rem;
}
button{
    background: transparent;
    color: white;
    border: 2px solid white;
    padding: 1rem 4rem;
    border-radius: 60px;
    font-size: 2rem;
}
}
/*footer page code*/
.footer-home{
    height: 100vh;

}

h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
}
.footer-main{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 3rem;
    justify-content: center;
    line-height: 2rem;


a{
    color: black;
}
  h3{
 font-size: 1.7rem;
 margin-left: 3rem;
 margin-bottom: 2rem;
 margin-top: 1.5rem;

  } 
img{
    margin-left: 2.5rem;
    margin-top: 1rem;
    justify-content: center;
    width: 30px;
}
a{
    font-size:1.3rem ;
    padding:0 1.5rem;
}
.place{
    margin-left: 3rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.time{
     margin-left: 4rem;
    font-size: 1rem;
    margin-bottom: 2rem;
}
.policy{
    font-size: 1.3rem;
    gap: 5rem;
    margin-left: 5rem;
    margin-bottom: 3.2rem;
    line-height: 3rem;
}
.text{
    margin-top: 1.2rem;
    font-size: 25px;
    line-height: 3rem;
}
input{
   height: 4.3rem;
   width: 60%;
  padding: 1rem 2rem;
  border-radius: 30px;
  border: 1px solid grey;
  margin-top: 3rem;
  font-size: 1.5rem;
}
.send-mail{
    height: 10rem;
    position: absolute;
    right: 17rem;
    margin-top: 0;
    width: 4rem;
}
.follow{
    margin-top: 3.5rem;
}
.logo{
    width: 2.5rem;
    align-items: center;
    margin-right: 6px;

}
}
.footer-logo{
    margin-left: 42rem;
    padding: 1.7rem;
}
.footer-end{
    margin-top: 3rem;
    width: 100%;
    padding: 1rem;
    text-align: center;
    color: white;
    background: linear-gradient(to right,violet,hotpink);
}
/*home page mobile responsive code*/
@media(min-width:1px) and (max-width:576px) {
    .logo  {
        height: 3rem;
    }

    nav {
        flex-direction: column;
        gap: 2rem;

        .navlinks a {
            font-size: 1.2rem;
        }
    }

    .features {
        padding: 1rem 0;
        height: 100%;
    }

    .inner-features {
        flex-direction: column;
    }
    .send-mail{
        height: 100%;
    }

    .footer-home {
        .footer-main {
            grid-template-columns: 1fr;

            h3 {
                font-size: 2rem;
            }

            .send-mail {
                width: 100%;
            }
        }

    }
}